body {
	margin: 0;
	padding: 0;
}
header.shift {
	background: #1976D2;
}
#headWrapper.shift {
	display: flex;
	flex-flow: row nowrap;
}
#logoLink.shift {
	flex: 1 20%;
	margin: 10px 0 10px 10px;
}
#logoLink.shift img {
	width: 100%;
}
#mainHeading.shift, #instructions.shift {
	display: none;
}
#numStudents.shift {
	flex: 1 60%;
	margin: 10px 0 10px 10px;
}
#genArray.shift {
	flex: 0 20%;
	margin: 10px 10px 10px 0;
}

/*header {
	border: 1px solid #BBDBFE;
	width: 100%;
}
#headWrapper {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	width: 98%;
	max-width: 600px;
	align-items: center;
}
#logoLink {
	flex: 0 20%;
}
#logoLink img {
	width: 100%;
}
#mainHeading {
	margin-left: 20px;
	font-size: 3em;
	flex: 1 50%;
}
#instructions {
	flex: 1 100%;
}
#numStudents {
	flex: 1 100%;
	font-size: 3em;
	padding: 1em;
	border-radius: 0.25em;
	border: 1px solid #ddd;
	text-align: center;
}
#genArray {
	flex: 1 100%;
}*/
#siteWrapper {
	margin: 0 auto;
	width: 98%;
	max-width: 600px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
#selStudent {
	display: flex;
	flex-flow: row nowrap;
}
#prevStudent, #nextStudent {
	flex: 0 20%;
}
#studentScreen {
	flex: 1 50%;
	padding: 1em;
	font-size: 3em;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	text-align: center;
}
